Flask==2.1.1
pandas
beautifulsoup4
selenium
Flask
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
Flask-Bcrypt
cloudinary
pyjwt==2.9.0
flask_bcrypt
webdriver_manager
SQLAlchemy==1.4.49
Werkzeug>=2.0,<3.0
openpyxl>=3.0.0
tzdata
gunicorn==21.2.0
psycopg2-binary
